* {
    box-sizing: border-box;
}

body {
    background-color: #110833;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}

.headersatu {
    font-size: 8vh;
    border: 1px solid #ddd;
}

.headerdua {
    font-size: 5vh;
    border: 1px solid #ddd;
    padding-top: 3%;
}

.container {
  display: flex;            /* Flexbox aktif */
  flex-direction: row;      /* Default: Kolom bersebelahan */
  gap: 20px;                /* Jarak antar kolom */
  padding: 20px;
  border: 1px solid #ddd;
}

.column {
  flex: 1;                  /* Kolom berbagi ruang secara merata */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.Edu {
font-size: 5vh;
text-align: center;
}

.Kampus, .SMK {
  font-size: 4vh;
  text-align: center;
  padding-top: 5%;
}

.Prodi, .Jurusan {
  font-size: 3vh;
  text-align: center;
}

.skills {
  font-size: 5vh;
  text-align: center;
}



.item {
  display: flex;            /* Membuat teks dan gambar dalam satu baris */
  align-items: center;      /* Vertikal rata tengah */
  gap: 10px;                /* Jarak antara gambar dan teks */
  margin-bottom: 10px;      /* Jarak antar item */
}

.item img {
  width: auto;              /* Ukuran gambar */
  height: 6vh;
  margin-left: 2%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Kolom disusun ke bawah */
  }
}
